@font-face{
    font-family: 'Muller';

    src: url('fonts/MullerBold.woff');
    src: url('fonts/MullerBold.woff2');

    src: url('fonts/MullerLight.woff');
    src: url('fonts/MullerLight.woff2');

    src: url('fonts/MullerMedium.woff');
    src: url('fonts/MullerMedium.woff2');

    src: url('fonts/MullerRegular.woff');
    src: url('fonts/MullerRegular.woff2');
}

* {
    font-family: 'Muller';
		box-sizing: border-box;
}

a {
	text-decoration: none;
}

ul{
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
	max-width: 100%;
}

html {
  font-family: sans-serif;
}

h2{
	margin-left: 45px;

	font-size: 40px;
	line-height: 40px;
	color: #333333;
}

body{
	background-color: #F1F1F1;
}
p, h3{
  margin: 0;
}

.container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
	padding-left: 15px;
	padding-right: 15px;
}

.button-org{
	color: #CC9933;
	background-color: transparent;
	line-height: 16px;
	padding: 13px 20px;
	border: 1px solid #CC9933;
	border-radius: 10px;
}

/* Header */

header{
	padding-top: 30px;
	margin-bottom: 70px;
}
.header-container{
	display: flex;
	flex-direction: column;
}

.header_info{
	display: flex;
	align-items: center;
	margin-bottom: 30px;
}
.logo{
	margin-right: 40px;
}
.header-tel-link{
	margin-right: auto;
	font-weight: 500;
	font-size: 20px;
	line-height: 20px;
	color: #666666;
}
.login{
	line-height: 16px;
	color: #CC9933;
}

.header_naw{
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 27px 45px;

	background: #FFFFFF;
	border-radius: 15px;
}
.nav-list{
	display: flex;
}
.nav-item:not(:last-child){
	margin-right: 45px;
}
.nav-link{
	line-height: 16px;
	color: #666666;
}
.header_button > a{
	margin-right:40px;
}


/* special_offers */


.special_offers{
	margin-bottom: 70px;
}
.special_offers_content{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.offers_left{
	margin-right: 23px;
	width: 573px;
}
.offers_right{
	width: 573px;
}

.offers_item{
	padding:40px;
	background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
	border-radius: 15px;
}
.offers_item_1{
	background-image: url(../img/offers-1.jpg);
}
.offers_item_2{
	background-image: url(../img/offers-2.jpg);
}

.offers_right{
	background-image: url(../img/offers-3.jpg);
	background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
	border-radius: 15px;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
}

.offers_item > h3{
	font-weight: bold;
	font-size: 40px;
	line-height: 40px;
	color: #FFFFFF;
	width:300px;
}
.offers_item_3 > h3{
	font-size: 60px;
	line-height: 60px;
}
.offers_item > p{
	font-size: 20px;
	line-height: 20px;
	color: #FFFFFF;
}
.offers_item > a{
	color: #FFCC66;
  display: flex;
  align-items: center;
}
.offers_item > a > svg{
	margin-left: 5px;
}

.offers_left_top{
	margin-bottom:25px;
}
.offers_item h3{
	margin-bottom:15px;
	max-width:300px;
}
.offers_item p{
	margin-bottom:50px;
}

/* .offers_right{
	position: relative;
}
.offers_right .offers_item{
	position: absolute;
	bottom:0;
	width: 100%;
} */


/* about_us */


.about_us{
	margin-bottom: 70px;
}
.about_us p{
	max-width:888px;
	font-size: 16px;
	line-height: 200%;
}


/* services */


.services{
	margin-bottom: 47px;
	/* 70-23 */
}
.services_content{
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
.services_content > li{
	width: calc((100% - 23px) / 2);
	margin-bottom: 23px;
	background-color: #fff;
	border-radius: 15px;
}
.services_content > li:nth-child(2n+1){
	margin-right:23px;
}

.services_content_block_img{
	height: 165px;
	background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
	border-radius: 15px 15px 0 0;
}
.scbi-1{
	background-image: url(../img/services_1.jpg);
}
.scbi-2{
	background-image: url(../img/services_2.jpg);
}
.scbi-3{
	background-image: url(../img/services_3.jpg);
}
.scbi-4{
	background-image: url(../img/services_4.jpg);
}
.services_content_block_info{
	min-height: 50%;
	padding: 26px 45px;
}
.services_content_block_info a{
	color: #CC9933;
  font-weight: 500;
  font-size: 20px;
  line-height: 200%;
	display: flex;
  align-items: center;
}
.services_content_block_info a svg{
	margin-left: 5px;
}
.services_content_block_info p{
	max-width: 400px;
  font-size: 16px;
  line-height: 200%;
}


/* advantages */


.advantages{
	margin-bottom: 47px;
	/* 70-23 */
}
.advantages_list{
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
.advantages_list li{
	/* max-width: calc((100% - 23px) / 4); */
	/* min-height: 275px; */
	width: 275px;
	height: 275px;

	padding: 40px;
	margin-bottom: 23px;

	background-color: #fff;
	border-radius: 15px;
}
.advantages_list_img{
	height: 66px;
	margin-bottom: 10px;

	background-repeat: no-repeat;
}
.ali-1{
	background-image: url(../img/icon_1.png);
}
.ali-2{
	background-image: url(../img/icon_2.png);
}
.ali-3{
	background-image: url(../img/icon_3.png);
}
.ali-4{
	background-image: url(../img/icon_4.png);
}
.ali-5{
	background-image: url(../img/icon_5.png);
}
.ali-6{
	background-image: url(../img/icon_6.png);
}
.ali-7{
	background-image: url(../img/icon_7.png);
}
.ali-8{
	background-image: url(../img/icon_8.png);
}
.advantages_list > li > p{
	line-height: 200%;
}


/* placement */


.placement{
	margin-bottom: 47px;
}
.placement_list{
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
.placement_list_element, .placement_last_item{
	width: calc((100% - 46px) / 3);
	margin-bottom: 23px;

  background-color: #fff;
  border-radius: 15px;
}
.placement_img{
  border-radius: 15px 15px 0 0;
}
.placement-info{
	padding: 35px 45px;
}
.placement-info-star{
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.placement-info > h3{
  margin: 16px 0;
  font-size: 16px;
  line-height: 16px;
}
.placement-info > p{
  margin-bottom: 32px;
  line-height: 16px;
  color: #999999;
}

.placement_last_item{
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	align-items: center;
	padding-bottom: 16px;

  background-image: url(../img/placement_9.jpg);
	background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.placement_last_item a{
  font-weight: 500;
  font-size: 20px;
  line-height: 200%;
  color: #FFFFFF;
}


/* форма */


.tour_form{
	background-color: #e9e9e9;
	padding:38px 0 70px;
  margin-bottom: 70px;
}
.tour_form_input{
	background-color: #fff;
	border-radius: 15px;
	display: flex;
	justify-content: space-between;
	align-items: center;
  padding: 30px;
}
.tour_form_input > .hr{
  border-right: 1px solid #e9e9e9;
  margin: 0 20px;
  height: 50px;
}
.element{
  width: 100%;
}
.element > p{
  margin-bottom:15px;
  font-size: 12px;
  line-height: 12px;
 }
 .element > select, .element > input{
   border: none;
   background-color: #fff;
   width: 100%;
 }
input[type="number"]{
  border-bottom: 1px solid #e9e9e9;
}
.form-button{
  width: 100%;
  text-align: center;
  padding: 13px 0;
}


/* contacts */


.contacts{
  margin-bottom:20px;
}
.contacts_block{
  display: flex;
  background-color: #fff;
  padding: 45px;
  border-radius: 15px;
}
.contacts_info{
  margin-right: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.contacts_table{
  border-collapse: collapse;
  width: 375px;
}
.contacts_table tr{
  border-bottom: 1px solid #e9e9e9;
}
.contacts_table td{
  padding: 25px 0;
  vertical-align: top;
}
.contacts_table tr td:first-child{
  width: 30%;
}
.contacts_table a, p, span{
  font-size: 16px;
  line-height: 150%;
}
.contacts_table a{
  color: #CC9933;
}
.contacts_table span{
  display: inline-block;
  color: #999999;
}

.button-contacts{
  width: 213px;
  text-align: center;
  padding: 30px 0;
  font-weight: bold;
}
.contacts_img{
}



/* footer */


footer{
  background-color: #333333;
  border-radius: 15px;
  color: #fff;
}
.footer-link{
  color: #e9e9e9;
}
